.video-container {
  display: inline-block;
  position: relative;
  width: 364px;
  height: 228px;

  @include vp-1199 {
    display: block;
    width: 39.23%;
    height: auto;
  }

  @include vp-767 {
    width: 100%;
  }
}

.video-container video {
  object-fit: cover;
  width: 100%;
  height: auto;
  user-select: none;

  @include vp-1199 {
    height: 100%;
  }

  @include vp-1199 {
    min-height: 167px;
  }
}

.video-container__button {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  user-select: none;
}

.video-container__button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include vp-1199 {
    width: 73px;
    height: 73px;
  }
}
